<form class="flexcol">

  <h2>{{localize 'dialogs.regionConfig.generic.headline'}}</h2>
  <fieldset class="sceneWeather-fieldSet">
    <legend><i class="fas fa-solid fa-cloud-bolt-sun"></i> {{localize 'dialogs.regionConfig.generic.title'}}</legend>
    <div class="form-group">
      <label for="elevation"><i class="fas fa-solid fa-mountains"></i> {{localize
        'dialogs.regionConfig.generic.eletitle'}}</label>
      <div class="form-fields">
        <input type="range" data-dtype="Number" min="0" max="3000" step="100" value="{{elevation}}">
        <input type="number" data-dtype="Number" class="range-value unit medium" name="elevation"
          placeholder="{{elevation}}" value="{{elevation}}"><span>{{localize 'dialogs.meters'}}</span>
      </div>
    </div>
    <p class="hint">{{localize 'dialogs.regionConfig.generic.elehint'}}</p>

    <div class="form-group">
      <label for="vegetation"><i class="fas fa-solid fa-tree"></i> {{localize
        'dialogs.regionConfig.generic.vegetitle'}}</label>
      <div class="form-fields">
        <input type="range" data-dtype="Number" min="0" max="100" step="1" value="{{vegetation}}">
        <input type="number" data-dtype="Number" class="range-value unit small" name="vegetation"
          placeholder="{{vegetation}}" value="{{vegetation}}"><span>{{localize 'dialogs.percent'}}</span>
      </div>
    </div>
    <p class="hint">{{localize 'dialogs.regionConfig.generic.vegehint'}}</p>

    <div class="form-group">
      <label for="waterAmount"><i class="fas fa-solid fa-water"></i> {{localize
        'dialogs.regionConfig.generic.watertitle'}}</label>
      <div class="form-fields">
        <select name="waterAmount" data-dtype="Number">
          {{selectOptions waterAmounts selected=waterAmount nameAttr="id" labelAttr="name" localize=true}}
        </select>
      </div>
    </div>
    <p class="hint">{{localize 'dialogs.regionConfig.generic.waterhint'}}</p>
  </fieldset>

  <h2>{{localize 'dialogs.regionConfig.solstice.headline'}}</h2>
  <nav class="tabs" data-group="primary-tabs">
    <a class="item" data-tab="summer" data-group="primary-tabs"><i class="fas fa-solid fa-sun"></i> {{localize
      'dialogs.regionConfig.solstice.summer'}}</a>
    <a class="item" data-tab="winter" data-group="primary-tabs"><i class="fas fa-solid fa-snowflake"></i> {{localize
      'dialogs.regionConfig.solstice.winter'}}</a>
  </nav>

  <section class="content">
    <div class="tab" data-tab="summer" data-group="primary-tabs">
      {{> regionConfigSummer}}
    </div>
    <div class="tab" data-tab="winter" data-group="primary-tabs">
      {{> regionConfigWinter}}
    </div>
  </section>

  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit">
      <i class="fa fa-check"></i> {{localize 'dialogs.ok'}}
    </button>
  </footer>
</form>