<form id="{{id}}" class="{{classes}}" data-appid="{{appId}}" autocomplete="off" onsubmit="event.preventDefault();">
  <i class="fa-solid fa-temperature-three-quarters"></i> {{temp.percieved}}°C <i class="fa-regular fa-sun-bright"></i>
  {{sun.amount}}% {{#if (eq precipitation.type 'snow')}}<i class="fa-regular fa-snowflakes"></i>{{else}}<i
    class="fa-regular fa-raindrops"></i>{{/if}} {{precipitation.amount}}%
</form>