<div class="form-group">
  <label for="flags.scene-weather.weatherMode">{{localize 'configTab.weatherMode.title'}}</label>
  <div class="form-fields">
    <select name="flags.scene-weather.weatherMode" data-type="String" class="select2" style="width:100%;">
      {{selectOptions weatherModes selected=data.weatherMode nameAttr="id" labelAttr="name" localize=true}}
    </select>
  </div>
  <p class="notes">{{localize 'configTab.weatherMode.hint'}}</p>
</div>

<div id="sceneWeather.mode.disabled" class="sceneWeather-collapsibleModeOption">
  <h2>{{localize 'configTab.weatherModes.disabled.name'}}</h2>
  <p class="notes">{{localize 'configTab.weatherModes.disabled.hint'}}</p>
</div>

<div id="not_sceneWeather.mode.disabled" class="sceneWeather-collapsibleModeOption active">
  <h2>{{localize 'configTab.general.title'}}</h2>
  <div class="form-group">
    <label for="flags.scene-weather.rainMode">{{localize 'configTab.rainMode.title'}}</label>
    <div class="form-fields">
      <select name="flags.scene-weather.rainMode" data-dtype="String">
        {{selectOptions rainModes selected=data.rainMode nameAttr="id" labelAttr="name" localize=true}}
      </select>
    </div>
    <p class="notes">{{localize 'configTab.rainMode.hint'}}</p>
  </div>

  <div class="form-group">
    <label for="flags.scene-weather.seed">{{localize 'configTab.general.seedTitle'}}</label>
    <div class="form-fields">
      <input type="string" data-dtype="String" name="flags.scene-weather.seed" placeholder="{{data.seed}}"
        value="{{data.seed}}">
      <div id="randomSeed" class="radomizeSeed" title="{{localize 'configTab.general.seedHint'}}"><i
          class="fa-solid fa-dice"></i></div>
    </div>
    <p class="notes">{{localize 'configTab.general.seedNote'}}</p>
  </div>

  <div class="form-group">
    <label for="flags.scene-weather.timeProvider">{{localize 'configTab.general.timeTitle'}}</label>
    <div class="form-fields">
      <select name="flags.scene-weather.timeProvider" data-dtype="String">
        {{selectOptions timeProviders selected=data.timeProvider nameAttr="id" labelAttr="name" localize=true}}
      </select>
    </div>
    <p class="notes">{{localize 'configTab.general.timeHint'}}</p>
  </div>
</div>

<div id="sceneWeather.mode.weatherTemplate" class="sceneWeather-collapsibleModeOption">
  <h2>{{localize 'configTab.sceneWeather'}}</h2>
  <p class="notes">{{localize 'configTab.weatherModes.weatherTemplate.hint'}}</p>
  <div class="form-group">
    <label for="flags.scene-weather.weatherTemplate">{{localize
      'configTab.weatherModes.weatherTemplate.selectTitle'}}</label>
    <div class="form-fields">
      <select name="flags.scene-weather.weatherTemplate" data-dtype="String">
        {{selectOptions weatherTemplates selected=data.weatherTemplate nameAttr="id" labelAttr="name" localize=true}}
      </select>
    </div>
    <p class="notes">{{localize 'configTab.weatherModes.weatherTemplate.selectHint'}}</p>
  </div>
</div>

<div id="sceneWeather.mode.weatherAuto" class="sceneWeather-collapsibleModeOption">
  <h2>{{localize 'configTab.sceneWeather'}}</h2>
  <p class="notes">{{localize 'configTab.weatherModes.weatherAuto.hint'}}</p>
  <div class="form-group submenu">
    <label>{{localize 'configTab.weatherModes.weatherAuto.settingsTitle'}}</label>
    <button type="button" data-key="flags.scene-weather.weatherConfig">
      <i class="fas fa-solid fa-sliders"></i>
      <label>{{localize 'configTab.weatherModes.weatherAuto.settingsButton'}}</label>
    </button>
    <p class="notes">{{localize 'configTab.weatherModes.weatherAuto.settingsHint'}}</p>
  </div>
</div>

<div id="sceneWeather.mode.regionTemplate" class="sceneWeather-collapsibleModeOption">
  <h2>{{localize 'configTab.sceneRegion'}}</h2>
  <p class="notes">{{localize 'configTab.weatherModes.regionTemplate.hint'}}</p>
  <div class="form-group">
    <label for="flags.scene-weather.regionTemplate">{{localize
      'configTab.weatherModes.regionTemplate.selectTitle'}}</label>
    <div class="form-fields">
      <select name="flags.scene-weather.regionTemplate" data-dtype="String">
        {{selectOptions regionTemplates selected=data.regionTemplate nameAttr="id" labelAttr="name" localize=true}}
      </select>
    </div>
    <p class="notes">{{localize 'configTab.weatherModes.regionTemplate.selectHint'}}</p>
  </div>
</div>

<div id="sceneWeather.mode.regionAuto" class="sceneWeather-collapsibleModeOption">
  <h2>{{localize 'configTab.sceneRegion'}}</h2>
  <p class="notes">{{localize 'configTab.weatherModes.regionAuto.hint'}}</p>
  <div class="form-group submenu">
    <label>{{localize 'configTab.weatherModes.regionAuto.settingsTitle'}}</label>
    <button type="button" data-key="flags.scene-weather.regionConfig">
      <i class="fas fa-solid fa-sliders"></i>
      <label>{{localize 'configTab.weatherModes.regionAuto.settingsButton'}}</label>
    </button>
    <p class="notes">{{localize 'configTab.weatherModes.regionAuto.settingsHint'}}</p>
  </div>
</div>