<p class="notes">Scene Weather Meteogram</p>

<canvas id="meteogram" width="200" height="100"></canvas>

<label for="flags.scene-weather.weatherMode">Select Scene Weather Mode:</label>
<select name="flags.scene-weather.weatherMode" data-type="String" class="select2" style="width:100%;">
  {{selectOptions weatherModes selected=data.weatherMode nameAttr="id" labelAttr="name" localize=true}}
</select>

<div id="sceneWeather.mode.disabled" class="sceneWeather-collapsibleModeOption">
  <p class="notes">Scene Weather is disabled. All ambience effects and types are set via the foundry default settings in
    Ambience.</p>
</div>

<div id="sceneWeather.mode.weatherTemplate" class="sceneWeather-collapsibleModeOption">
  <p class="notes">Set a weather for the scene from a select choice of templates. The weather is static and will remain
    like that unless manually changed.</p>
  <div class="form-group">
    <label for="flags.scene-weather.weatherTemplate">Weather Template</label>
    <div class="form-fields">
      <select name="flags.scene-weather.weatherTemplate" data-dtype="String">
        {{selectOptions weatherTemplates selected=data.weatherTemplate nameAttr="id" labelAttr="name" localize=true}}
      </select>
    </div>
  </div>
</div>

<div id="sceneWeather.mode.regionTemplate" class="sceneWeather-collapsibleModeOption">
  <p class="notes">Let the weather be generated based on a selected region template from a choice list. The weather will
    change dynamically based on given time of day and the season in the year. If an automatic calendar or time module is
    installed, it will change with the flow of time.</p>
  <div class="form-group">
    <label for="flags.scene-weather.regionTemplate">Region Template</label>
    <div class="form-fields">
      <select name="flags.scene-weather.regionTemplate" data-dtype="String">
        {{selectOptions regionTemplates selected=data.regionTemplate nameAttr="id" labelAttr="name" localize=true}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="flags.scene-weather.timeProvider">Time Provider</label>
    <div class="form-fields">
      <select name="flags.scene-weather.timeProvider" data-dtype="String">
        {{selectOptions timeProviders selected=data.timeProvider nameAttr="id" labelAttr="name" localize=true}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="flags.scene-weather.dateProvider">Date Provider</label>
    <div class="form-fields">
      <select name="flags.scene-weather.dateProvider" data-dtype="String">
        {{selectOptions dateProviders selected=data.dateProvider nameAttr="id" labelAttr="name" localize=true}}
      </select>
    </div>
  </div>
</div>

<div id="sceneWeather.mode.regionAuto" class="sceneWeather-collapsibleModeOption">
  <p class="notes">Let the weather be generated based on set attributes for the scene like mean temperature or
    elevation. The weather is dependant on a current time/date that needs to be provided to generate the dynamic weather
    based on all those parameters.</p>
  <h2>Scene Location</h2>

  <div class="form-group submenu">
    <label>Region Settings for this Scene</label>
    <button type="button" data-key="flags.scene-weather.regionConfig">
      <i class="fas fa-bars"></i>
      <label>Configure Region Settings</label>
    </button>
    <p class="notes">Edit this scenes specific region configuration to have the weather generate from.</p>
  </div>
</div>

<!-- FEATURE
<div id="sceneWeather.mode.manual" class="sceneWeather-collapsibleModeOption">
  <p>Let the weather be generated based on specific set athmosphere and ambience parameters. The resulting weather is
    independant of the current time.</p>

  <div class="form-group submenu">
    <label>Region Settings for this Scene</label>
    <button type="button" data-key="flags.scene-weather.regionConfig">
      <i class="fas fa-bars"></i>
      <label>Configure Region Settings</label>
    </button>
    <p class="notes">Edit this scenes specific region configuration to have the weather generate from.</p>
  </div>

  - Ground Temperature
  - Air Temperature
  - Perceived Temperature
  - Windspeed
  - Wind Gusts
  - Wind Direction
  - Cloud Coverage
  - Cloud Bottoms
  - Cloud Tops
  - Precipitation amount
  - Precipitation type
  - Humidity
</div>
-->

<!-- ( only if neither is available ) -->
<div id="sceneWeather.timeProviderManual">

  {{#if (eq data.timeProvider 'manual')}}
  {{> manualTime}}
  {{/if}}
  {{#if (eq data.dateProvider 'manual')}}
  {{> manualSeason}}
  {{/if}}

</div>
