{{name}}
<ul>
  <li>Temperature {{temperature.percievedId}} ({{temperature.percieved}}°C)</li>
  <li>The air is {{humidity.percentId}} ({{humidity.percent}}%) with {{wind.speedId}}({{wind.speed}}/{{wind.gusts}}) from {{wind.directionId}}</li>
  <li>The {{sun.amountId}} sky is {{clouds.amountId}} with {{clouds.heightId}}({{clouds.height}}m) {{clouds.type}}</li>
  <li>Currently it is {{precipitation.amountId}} {{precipitation.type}}</li>
</ul>

