<form id="{{id}}" class="{{classes}}" data-appid="{{appId}}" autocomplete="off" onsubmit="event.preventDefault();">
  <div class="col left">
  </div>

  <div class="col middle">
  </div>

  <div class="col right">
    <div class="control-icon {{enabledClass}}" data-action="enabled">
      <i title="Aktivieren/Deaktivieren" class="fas fa-solid {{enabledIcon}}"></i>
    </div>

    <div class="control-icon {{lockedClass}}" data-action="locked">
      <i title="Sperrzustand umschalten" class="fas fa-solid {{lockedIcon}}"></i>
    </div>

    <div class="control-icon" data-action="sort-up">
      <i title="In den Vordergrund bringen" class="fa-regular fa-arrow-up-short-wide"></i>
    </div>

    <div class="control-icon" data-action="sort-down">
      <i title="In den Hintergrund stellen" class="fa-regular fa-arrow-down-short-wide"></i>
    </div>
  </div>
</form>