<form class="flexcol" autocomplete="off">

  <!-- Sheet Navigation Tabs -->
  <nav class="sheet-tabs tabs">
    <a class="item" data-tab="form">
      {{#if (eq data.type 'mask')}}<i class="fas fa-regular fa-draw-polygon"></i>{{/if}}
      {{#if (eq data.type 'emitter')}}<i class="fas fa-regular fa-circle-dashed></i>{{/if}} {{localize 'dialogs.weatherNodeConfig.shape'}}
    </a>
    {{#if (eq data.type 'mask')}}<a class=" item" data-tab="mask"><i class="fas fa-regular fa-filter-list"></i>
        {{localize 'dialogs.weatherNodeConfig.mask'}}</a>{{/if}}
    {{#if (eq data.type 'emitter')}}<a class="item" data-tab="emitter"><i class="fas fa-regular fa-signal-stream"></i>
      {{localize 'dialogs.weatherNodeConfig.emitter'}}</a>{{/if}}
  </nav>

  <!-- Form Tab -->
  <div class="tab" data-tab="form">
    <p class="notes">{{localize 'dialogs.weatherNodeConfig.shape'}}</p>
    <div class="form-group">
      <label>{{localize 'dialogs.weatherNodeConfig.xcenter'}} <span class="units">({{localize
          'dialogs.pixels'}})</span></label>
      {{numberInput data.x name="x" step=1}}
    </div>

    <div class="form-group">
      <label>{{localize 'dialogs.weatherNodeConfig.ycenter'}} <span class="units">({{localize
          'dialogs.pixels'}})</span></label>
      {{numberInput data.y name="y" step=1}}
    </div>

    <div class="form-group">
      <label>{{localize 'dialogs.weatherNodeConfig.zindex'}}</label>
      {{numberInput data.z name="z" step=1}}
    </div>
  </div>

  {{#if (eq data.type 'mask')}}
  <!-- Mask Tab -->
  <div class="tab" data-tab="mask">
    <p class="notes">{{localize 'dialogs.weatherNodeConfig.mask'}}</p>

    <div class="form-group">
      <label for="mask">{{localize 'dialogs.weatherNodeConfig.typeOfMask'}}</label>
      <div class="form-fields">
        <select name="mask" data-dtype="String">
          {{selectOptions data.masks selected=data.mask nameAttr="id" labelAttr="name" localize=true}}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize 'dialogs.weatherNodeConfig.enabled'}}</label>
      <input type="checkbox" name="enabled" {{checked data.enabled}}>
    </div>

    <div class="form-group">
      <label for="feather">{{localize 'dialogs.weatherNodeConfig.feather'}} {{localize 'dialogs.percent'}}</label>
      <div class="form-fields">
        <input type="range" data-dtype="Number" min="0" max="100" step="1" value="{{data.feather}}">
        <input type="number" data-dtype="Number" class="range-value unit small" name="feather"
          placeholder="{{data.feather}}" value="{{data.feather}}">
      </div>
    </div>
  </div>
  {{/if}}

  {{#if (eq data.type 'emitter')}}
  <!-- Emitter Tab -->
  <div class="tab" data-tab="emitter">
    <p class="notes">{{localize 'dialogs.weatherNodeConfig.emitter'}}</p>
    <!-- TODO -->
  </div>
  {{/if}}

  <!-- Sheet Footer -->
  <footer class="sheet-footer flexrow">
    <button type="submit"><i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}</button>
  </footer>
</form>